@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}