@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url("IBMPlexSerif-Bold.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: url("IBMPlexSerif-BoldItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 200;
  src: url("IBMPlexSerif-ExtraLight.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 200;
  src: url("IBMPlexSerif-ExtraLightItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url("IBMPlexSerif-Italic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: url("IBMPlexSerif-Light.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: url("IBMPlexSerif-LightItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  src: url("IBMPlexSerif-Medium.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 500;
  src: url("IBMPlexSerif-MediumItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url("IBMPlexSerif-Regular.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url("IBMPlexSerif-SemiBold.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url("IBMPlexSerif-SemiBoldItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 450;
  src: url("IBMPlexSerif-Text.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 450;
  src: url("IBMPlexSerif-TextItalic.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 100;
  src: url("IBMPlexSerif-Thin.otf"); }

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 100;
  src: url("IBMPlexSerif-ThinItalic.otf"); }
