@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url("Montserrat-BoldItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("Montserrat-ExtraLight.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url("Montserrat-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url("Montserrat-Italic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url("Montserrat-LightItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("Montserrat-Medium.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url("Montserrat-MediumItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url("Montserrat-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 450;
  src: url("Montserrat-Text.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 450;
  src: url("Montserrat-TextItalic.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("Montserrat-Thin.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url("Montserrat-ThinItalic.ttf"); }
