@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-Italic.otf');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-Medium.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-MediumItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Soapy Hands';
    src: url('SoapyHands-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}